extends layout

block content
    div(class="space-y-4 w-[45rem]")
        div(class="absolute flex space-x-2 right-[30rem]")
            a(href="/compositores/" + compositor.id + "/editar" class="bg-orange-800/80 rounded-xl p-4 text-white text-center w-[4rem] font-medium shadow-sm hover:shadow-md space-x-2")
                i(class="bi bi-pencil-fill")
            a(href="/compositores/eliminar/" + compositor.id class="bg-orange-800/80 rounded-xl p-4 text-white text-center w-[4rem] font-medium shadow-sm hover:shadow-md space-x-2")
                i(class="bi bi-trash-fill")
        h1(class="text-4xl font-bold space-x-2")
            i(class="bi bi-person-fill")
            span #{compositor.nome}
        div(class="text-neutral-400 font-medium space-x-2")
            i(class="bi bi-heart-fill")
            span #{compositor.dataNasc ? compositor.dataNasc : "?"} até #{compositor.dataObito ? compositor.dataObito : "?"}
        h2(class="text-3xl font-bold space-x-2")
            i(class="bi bi-justify-left")
            span Biografia
        p(class="text-justify") #{compositor.bio ? compositor.bio : "Sem biografia disponível."}